<!-- detail  -->
<div class="grid wide detail">
    <p class="detail-url">Miếng dán màn hình <i class="fas fa-chevron-right"></i>
        Miếng dán Iphone <i class="fas fa-chevron-right"></i> MIẾNG DÁN ĐỘ iPhone X Xs Xr Xs Max lên iPhone 11 / 11 Pro
        / 11 Pro Max</p>
    <div class="grow">
        <div class="gcol big-gutter pc5 pcl5 t5 m12">
            <div class="detail__left">
                <div class="detail__left-img"
                    style="background: url('/uploads/{{product.image}}') center center/cover no-repeat;"></div>
                <div class="detail__left-img-sub">
                    <div class="grow">
                        <div class="gcol m2-5">
                            <div class="detail__left-img-sub-img detail__left-img-sub-img--active"
                                name="https://cf.shopee.vn/file/e4a7ce285cad39da68daae84de428c21"></div>
                        </div>
                        <div class="gcol m2-5">
                            <div class="detail__left-img-sub-img "
                                style="background-image: url('https://cf.shopee.vn/file/eab2773a5d76d65b8b66be325be6094b');"
                                name="https://cf.shopee.vn/file/eab2773a5d76d65b8b66be325be6094b"></div>
                        </div>
                        <div class="gcol m2-5">
                            <div class="detail__left-img-sub-img "
                                style="background-image: url('https://cf.shopee.vn/file/3c5a1d4eb305317a16f6297bbbb721cb_tn');"
                                name="https://cf.shopee.vn/file/3c5a1d4eb305317a16f6297bbbb721cb_tn"></div>
                        </div>
                        <div class="gcol m2-5">
                            <div class="detail__left-img-sub-img "
                                style="background-image: url('https://cf.shopee.vn/file/65dd39a4a697cb5ad6401de1cae71386_tn');"
                                name="https://cf.shopee.vn/file/65dd39a4a697cb5ad6401de1cae71386_tn"></div>
                        </div>
                        <div class="gcol m2-5">
                            <div class="detail__left-img-sub-img " style="background-image: url('');"
                                name="https://cf.shopee.vn/file/e4a7ce285cad39da68daae84de428c21"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- right  -->
        <div class="gcol pc7 pcl7 t7 m12">
            <div class="detail-right">
                <h2 class="detail-right-title">
                    {{product.title}}
                </h2>
                <div class="detail-right-rate">
                    <div class="detail-right-rate__star">
                        <span>4.6</span>
                        <div class="detail-right-rate__star-icon">

                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="detail-right-rate-vote">
                        <span>94</span>
                        <p>Đánh giá</p>
                    </div>
                    <div class="detail-right-rate-sold">
                        <span>294</span>
                        <p>Đã bán</p>
                    </div>
                </div>
                <div class="detail-right-price">
                    <p>{{product.newPrice}}<span>đ</span></p>
                </div>
                <div class="detail-right-ship">
                    <p class="detail-right-ship-title">Vận chuyển</p>
                    <div class="detail-right-ship-groups">
                        <div class="detail-right-ship-selections">
                            <div class="detail-right-ship-selections-free">
                                <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/1cdd37339544d858f4d0ade5723cd477.png"
                                    alt="" class="detail-right-ship-selections-free-img">
                                <div class="detail-right-ship-selections-free-sections">
                                    <p>Miễn Phí Vận Chuyển</p>
                                    <p>Miễn Phí Vận Chuyển khi đơn đạt giá trị tối thiểu</p>
                                </div>
                            </div>
                        </div>
                        <div class="detail-right-ship-address">
                            <div class="detail-right-ship-address-to">
                                <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/1cdd37339544d858f4d0ade5723cd477.png"
                                    alt="" class="detail-right-ship-selections-free-img">
                                <div class="detail-right-ship-selections-free-sections">
                                    <p>Vận chuyển tới <a href="">Quận Bắc từ liêm
                                            <i class="fas fa-chevron-down"></i>
                                        </a></p>
                                    <p><a href="">Phí vẩn chuyển
                                            <i class="fas fa-chevron-down"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="detail-right-selections">
                    <p class="detail-right-selections-title">Dòng máy</p>
                    <div class="detail-right-selections-btnGroups">
                        <button class="buton">5.8</button>
                        <button class="buton">6.2</button>
                        <button class="buton">5.5</button>
                    </div>
                </div>
                <div class="detail-right-colors">
                    <p class="detail-right-colors-title">Maù sắc</p>
                    <div class="detail-right-selections-btnGroups">
                        <button class="buton">Vàng</button>
                        <button class="buton">Đen</button>
                        <button class="buton">Đỏ</button>
                        <button class="buton">Trắng</button>
                        <button class="buton buton--disable">Xanh</button>
                        <button class="buton">Blue</button>
                    </div>
                </div>
                <div class="detail-right-quantity">
                    <p class="detail-right-quantity-title">Số lượng</p>
                    <div class="detail-right-quantity-options">
                        <i class="fas fa-plus"></i>
                        <input type="text" value="1">
                        <i class="fas fa-minus"></i>
                    </div>
                    <div class="detail-right-quantity-productions">
                        190 sản phẩm hiện có
                    </div>
                </div>
                <div class="detail-right-btn">
                    <a href="/product/cart/{{product._id}}" class="bton bt-paddign"
                        style="display: flex;justify-content: center;align-items: center;"><i
                            class="fas fa-cart-plus"></i>
                        Thêm vào giỏ hàng</a>
                    <a href="" class="bton bton--primary"
                        style="display: flex;justify-content: center;align-items: center;">Mua ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Admin  -->
<div class="grid wide admin-background py-4 px-2" style="max-width: 100%;">
    <div class="row">
        <div class="col col-1 ">
            <div class="admin-avt"></div>
        </div>
        <div class="col col-5">
            <div class="admin-info">
                <p class="admin-info-name">tuananhhoang09</p>
                <p class="admin-info-onl">Online last 14 hours</p>
                <button class="buton buton--primary buton--normal"><i class="far fa-comment-dots"></i>
                    Chat ngay</button>
                <button class="buton buton--normal">
                    <i class="fas fa-store"></i>
                    Xem shop
                </button>
            </div>
        </div>
        <div class="col col-2 mt-3">
            <div class="admin-info-1">
                <p class="admin-info-1-rate">Đánh giá <span>8.6k</span></p>
                <p class="admin-info-1-product">Sản phẩm <span>765</span></p>
            </div>
        </div>
        <div class="col col-2 mt-3">
            <div class="admin-info-2">
                <p class="admin-info-1-rate">Tỷ lệ phản hồi <span>86%</span></p>
                <p class="admin-info-1-product">Thời gian phản hồi <span>Vài giờ</span></p>
            </div>
        </div>
        <div class="col col-2 mt-3">
            <div class="admin-info-3">
                <p class="admin-info-1-rate">Tham gia <span>3 năm trước</span></p>
                <p class="admin-info-1-product">Người theo dõi <span>8.5k</span></p>
            </div>
        </div>
    </div>
</div>

<!-- detail  -->
<div class="grid wide product">
    <div class="row">
        <div class="col col-9 col-sm-12 col-lg-9 col-xl-9">
            <div class="product__content-left">
                <h2 class="product__content-left-title">Chi tiết sản phẩm</h2>
                <div class="product__content-left-info">
                    <div class="product__content-left__category">
                        <p class="product__content-left__category-name">Danh mục</p>
                        <p class="product__content-left__category-content">
                            <a href="" class="product__content-left__category-link">

                                Điện Thoại & Phụ Kiện <i class="fas fa-chevron-right"></i>
                            </a>
                            <a href="" class="product__content-left__category-link">

                                Miếng dán màn hình <i class="fas fa-chevron-right"></i>
                            </a>
                            <a href="" class="product__content-left__category-link">
                                Miếng dán Iphone

                            </a>
                        </p>
                    </div>
                    <div class="product__content-left__category">
                        <p class="product__content-left__category-name">Thương hiệu</p>
                        <p class="product__content-left__category-content">
                            No-brand
                        </p>
                    </div>
                    <div class="product__content-left__category">
                        <p class="product__content-left__category-name">Dòng máy tương thích</p>
                        <p class="product__content-left__category-content">
                            Nhiều dòng máy
                        </p>
                    </div>
                    <div class="product__content-left__category">
                        <p class="product__content-left__category-name">Chất liệu</p>
                        <p class="product__content-left__category-content">
                            Nhựa
                        </p>
                    </div>
                    <div class="product__content-left__category">
                        <p class="product__content-left__category-name">Kho hàng</p>
                        <p class="product__content-left__category-content">
                            190
                        </p>
                    </div>
                    <div class="product__content-left__category">
                        <p class="product__content-left__category-name">Gửi từ</p>
                        <p class="product__content-left__category-content">
                            Quận Tân Phú, TP. Hồ Chí Minh
                        </p>
                    </div>
                </div>

                <div class="product__content-left-describe">
                    <h2 class="product__content-left-describe-title">
                        Mô tả sản phẩm
                    </h2>
                    <p class="product__content-left-describe-content">
                    <p>MIẾNG DÁN ĐỘ iPhone 11 Pro // 11 Pro Max</p>
                    <p>Dành cho iPhone X | XS | XS Max</p>

                    <p>– Miếng dán Film độ lên iPhone 11 mặt lưng nhám, logo Apple và cụm camera độ lên 3 mắt 1:1 như
                        máy thật </p>
                    <p>– Thiết kế khe chiếu đèn FLASH tiện lợi</p>
                    <p>X, Xs ( 5.8) Gold, Đen, Trắng, Green</p>

                    <p>Xs Max (6.5) Gold, Đen, Trắng, Green</p>

                    <p>Xr ( 6.1) Vàng, Đen, Đỏ, Xanh Mint, Trắng</p>
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-3 hide-on-tablet-mobile col-lg-3 col-xl-3">
            <div class="product__content-right">
                <div class="product__content-right-title">
                    Top sản phẩm bán chạy
                </div>
                <div class="product__content-right-item">
                    <img src="/image/product3.jpg" alt="" class="product__content-right-item-img">
                    <h4 class="product__content-right-item-name">Ốp lưng Chống Sốc Màu Kẹo Ngọt Có Dây Đeo Tay Cho
                        iPhone 7Plus,8Plus,X,XS Max, 11.,11Pro Max,12 Pro,12Pro Max.</h4>
                    <span class="product__content-right-item-price">17.500 <span>đ</span></span>
                </div>
                <div class="product__content-right-item">
                    <img src="/image/product1.jpg" alt="" class="product__content-right-item-img">
                    <h4 class="product__content-right-item-name">Ốp lưng Chống Sốc Màu Kẹo Ngọt Có Dây Đeo Tay Cho
                        iPhone 7Plus,8Plus,X,XS Max, 11.,11Pro Max,12 Pro,12Pro Max.</h4>
                    <span class="product__content-right-item-price">17.500 <span>đ</span></span>
                </div>
                <div class="product__content-right-item">
                    <img src="/image/product2.jpg" alt="" class="product__content-right-item-img">
                    <h4 class="product__content-right-item-name">Ốp lưng Chống Sốc Màu Kẹo Ngọt Có Dây Đeo Tay Cho
                        iPhone 7Plus,8Plus,X,XS Max, 11.,11Pro Max,12 Pro,12Pro Max.</h4>
                    <span class="product__content-right-item-price">17.500 <span>đ</span></span>
                </div>

            </div>
        </div>
    </div>
</div>