<footer class="main__footer">
    <div class="grid wide">
        <div class="grow">
            <div class="gcol pc2-5 pcl2-5 t6 m12 main__footer-container">
                <h4 class="main__footer-tiltle">CHĂM SÓC KHÁCH HÀNG</h4>
                <p class="main__footer-item">
                    <a href="" class="main__footer-link">
                        Trung tâm trợ giúp
                    </a>
                </p>
                <p class="main__footer-item">
                    <a href="" class="main__footer-link">
                        Hướng dẫn mua hàng
                    </a>
                </p>
                <p class="main__footer-item">
                    <a href="" class="main__footer-link">
                        Chính sách vận chuyển
                    </a>
                </p>
                <p class="main__footer-item">
                    <a href="" class="main__footer-link">
                        Trung tâm trợ giúp
                    </a>
                </p>
            </div>
            <div class="gcol pc2-5 pcl2-5 t6 m12 main__footer-container">
                <h4 class="main__footer-tiltle">VỀ CHÚNG TÔI</h4>
                <p class="main__footer-item">
                    <a href="" class="main__footer-link">
                        Giới thiệu về Mỹ Phẩm Ohui - LG Vina
                    </a>
                </p>
                <p class="main__footer-item">
                    <a href="" class="main__footer-link">
                        Chính sách thanh toán
                    </a>
                </p>
                <p class="main__footer-item">
                    <a href="" class="main__footer-link">
                        Điều Khoản chính sách
                    </a>
                </p>
            </div>
            <div class="gcol pc2-5  pc-o-2-5 pcl2-5 pcl-o-2-5 t6 m12 main__footer-container">
                <h4 class="main__footer-tiltle">THEO DÕI CHÚNG TÔI TRÊN</h4>
                <p class="main__footer-item">
                    <a href="" class="main__footer-link">
                        <i class="fab fa-facebook main__footer-icon"></i>
                        Facebook
                    </a>
                </p>
                <p class="main__footer-item">
                    <a href="" class="main__footer-link">
                        <i class="fab fa-instagram main__footer-icon"></i>
                        Instagram
                    </a>
                </p>
            </div>
            <div class="gcol pc2-5 pcl2-5 t6 m12 main__footer-container">
                <h4 class="main__footer-tiltle">TẢI ỨNG DỤNG MỸ PHẨM OHUI - LG VINA</h4>
                <div class="main__footer-download">
                    <img src="/image/QR.png" alt="" class="main__footer-qr">
                    <div class="main__footer-app">
                        <a href="" class="main__footer-app-link">
                            <img src="/image/appstore.png" alt="" class="main__footer-appst">
                        </a>
                        <a href="" class="main__footer-app-link">
                            <img src="/image/ggplay.png" alt="" class="main__footer-appst">
                        </a>
                    </div>
                </div>
            </div>
            <div class="gcol pc12 pcl12 t12 m12 name_footer">
                <p>DesignBy <a href="#">AnhTuanHoang</a></p>
                <a href="tel:0984462820">0984462820</a>
            </div>
        </div>
    </div>
</footer>